$primary: #5e53a5;
$info: #3298dc;
$danger:#f15622;
$warning: #ffde63;
$info:#466db5;
$dark:#171621;
$white:#ffffff;
$grey:#ababab;
$grey-lightest:#f1f5f8;
$success: #64d797;
$border:fade_out($primary, 0.8);
$body-background-color:$grey-lightest;
$my-primary-light: fade_out($primary, 0.1);

$navbar-item-color:$primary;
$table-cell-border:1px solid $border;


::selection {
  background: #FFE6B3; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFE6B3; /* Gecko Browsers */
}

#breadcrumbs{
  /*background-color: #d7d7d7;*/
  padding: 10px;
}

